
            h1{
                color:#4286f4;
                
                background:yellow;
            }
            h3{
                background:green;
                color:#9b59b6;
            }
            p{
                color:maroon;
                background:pink;
            }